[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
[user]
	name = Luiz Guilherme
	email = lgsanjos@gmail.com
[alias]
	co = checkout 
  cm = commit -m
	sb = status -sb
	st = status 
	sr = svn rebase
  rc = rebase --continue
  ra = rebase --abort
  cp = cherry-pick 
  cpc = cherry-pick --continue 
  cpa = cherry-pick --abort 
	sfc = show --pretty="format:" --name-only
  rma = !git ls-files --deleted -z | xargs -0 git rm
  dc = diff --cached
  

  cachecredential = config --global credential.helper "cache --timeout=360000"

  plog = log --graph -10 --pretty=format:'%C(yellow)%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %s' --date=relative --abbrev-commit
  gh = log --graph --pretty=format:'%Cgreen%h %C(yellow)(%cr) %C(bold blue)<%an> %Creset %s %n' --abbrev-commit --date=relative  --all
	pom = pull -r origin master
  ppom = push origin master
  pushgm = push github githead:master
  pullgm = pull -r github master

  head = !git r -1
  h = !git head
  hp = "!. ~/dotfiles/.githelpers && show_git_head"
  r = !GIT_NO_PAGER=1 git l -10
  ra = !git r --all
  l = "!. ~/dotfiles/.githelpers && pretty_git_log -10"
  la = !git l --all
[core]
	editor = /usr/bin/vim
[credential]
	helper = cache
	helper = cache
	helper = cache
	helper = add
	helper = --add
